.blog-header, .blog-post, .blog-pagination {
  margin-bottom: 2rem;
}

/* Make sure the image size is reasonable. */
.blog-post img {
  max-width: 100%;
}


/* Reece Styles */


.bc-t3-titles{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 8vh;
}




/* Hero Image */
.bc-hero-img-col{
  padding:0px;
  height: inherit;
}

.bc-hero{
  height: 77vh;
}

.bc-hero-ntb{
  height: 85vh;
}

.bc-hero-img{
  height: inherit;
  object-fit: cover;
}

.bc-cc-banner{
  height: auto;
}

.bc-hero-mod{
  height:auto;
  padding-bottom:5%;
}

.bc-cc-mod-imgs{
  object-fit: fill;
}

.bc-hero-mod-cols{
  margin: 0;
  padding: 0;
  border-right: solid 0.5px grey;
  border-left: solid 0.5px grey;
}

.bc-connecter{
  border: solid 1px grey;
  border-radius: 50%;
  width:65px;
  text-align: center;
  margin-left: 30%;
}

.bc-mod-build-centre{
  align-items: center;
}

.bc-mod-build-left{
  text-align: right;
  padding-top: 2%;
}
.bc-mod-build-right{
  text-align: left;
}

.bc-hero-counter-cols{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bc-counter-imgs-background{
  display: flex;
  justify-content: center;
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
.bc-counter-imgs-background-s7{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}


/* @media only screen and (max-width: 600px) {
  .bc-cc-banner{
    height: auto;
  }
} */
/* .bc-hero-img{
  background-image:url("{{.Site.BaseURL}}/imgs/bc-belaire.png");
  width: auto;
  background-size: cover;
  padding: 50% !important;

} */

/* ---------------------------------Gallery------------------------------------- */
.bc-gal-img{
  width: 100%;
  height:100%;
  object-fit: cover !important;

}
.bc-gal-img-col{
  padding:0 !important;
}

/* .bc-hero-gal-col{
  height: 80vh !important;
} */

/* ---------------------------------FONTS------------------------------------- */
h1{
  color: grey;
  font-weight: 200;
  font-size: 50px;
}

h2{
  color: grey;
  font-weight: 300;
  padding: 20px;
}

h3{
  padding-top: 10px;
  font-weight: 300;
  font-size: 26px;
}

.h3-color{
  color: grey;
}

h4{
  /* padding-top: 10px; */
  font-weight: 100;
  font-size: 20px;
}

h5{
  padding-top: 10px;
  color: grey;
  font-weight:300;
}

h6{
  color:grey;
  font-weight: 200;
  font-size: 16px;
}
.bc-foot-text h5{
  padding-top: 5%;
}

.bc-title-small{
  text-align:center;
}

.bc-hero-mod-title{
  padding-bottom: 10vh;
}



/* Section 6 Lighting and Branding options */
.row.bc-hero-mod.s6{
  justify-content: space-between;
}


.col-lg-3.par-bc-lb-block{
  padding-left: 0;
  padding-right: 0;
}

.bc-lb-block{
  height: 35vh;
  width: auto;
}

.bs-6-c1{
  background-color: #FFC900;
}
.bs-6-c2{
  background-color: #FE7E31;
}
.bs-6-c3{
  background-color: #EE1D25;
}
.bs-6-c4{
  background-color: #BD4270;
}

h5.s6-p-center{
  text-align: center;
}


/* Contact Form */

.col-lg-12.bc-contact{
  display:flex;
  align-items:center;
}

.bc-hero-contact{
  height: 75vh;
}
/* Section 9 Custom Units */
.row.bc-hero-mod.s6.s9{
  margin-top: -13%;
}

@media only screen and (max-width: 600px) {
.bc-hero-counter-cols.col-lg-4.s9{
    padding-top: 2%;
  }
}
  /* Section 8 */
  .bc-gal-img-col.col-counter.col-lg-4{
    display:flex;
    align-items:center;
    justify-content:center;
  }

  .bc-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }

h4.bc-text-align{
    text-align: center;
  }
