<!doctype html>
<html lang="{{ .Lang }}">
  <head>

    {{ partial "head-meta" . }}

    <link rel="canonical" href="{{ .Permalink }}">

    <title>
      {{ block "title" . }}
        {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
      {{ end }}
    </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{{ .Site.BaseURL }}/css/style.css" rel="stylesheet">

    <!-- Favicon -->
    {{ with .Site.Params.favicon }}<link rel="icon" href="{{ . | absURL }}" />{{ end }}


    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    {{ template "_internal/google_analytics_async.html" . }}

    {{ partial "head-custom.html" . }}
  </head>
  <body>
    <!-- {{ block "header" . }}
      {{ partial "header" . }}
    {{ end }} -->

    {{ block "body" . }}
    <div class="container-fluid">
<!-- BLOCK 1 START  --------------------------------------------------------------------------------------------------------->
      <div class="row bc-t3">
          <div class="col-lg-4 bc-t3-titles" style="background-color: #DC6E7D;"><h3>MARKETING</h3></div>
          <div class="col-lg-4 bc-t3-titles" style="background-color: #B63D79;"><h3>HOSPITALITY</h3></div>
          <div class="col-lg-4 bc-t3-titles" style="background-color: #5D499E;"><h3>RETAIL</h3></div>

      </div>

      <div class="row bc-hero">
        <div class=" col-lg-12 bc-hero-img-col">
          <img class ="bc-hero-img" src="{{.Site.BaseURL}}/imgs/bc-belaire-longest.jpg" height="auto" width="100%">
        </div>
      </div>

      <div class="row bc-cc-banner">
        <div class="col-lg-8">
                <h2>MODULAR POPUP COUNTERS</h2>
        </div>
        <div class="col-lg-4 bc-center">
                <img class="bc-cc-icon" src="{{.Site.BaseURL}}/imgs/BC-CounterCulture-sml.png" height="100vh" width="auto">
        </div>
      </div>

<!--  BLOCK 1 END  --------------------------------------------------------------------------------------------------------->


<!--- BLOCK 2 START  --------------------------------------------------------------------------------------------------------->

      <div class="row">
        <div class=" col-lg-12 bc-hero-gal-col">

          <div class="row">
            <div class="bc-gal-img-col col-lg-3">
              <img class="bc-gal-img" src="{{.Site.BaseURL}}/imgs/bc-gallery/pierrejordan.png" width="100%" height="auto">
            </div>
            <div class="bc-gal-img-col col-lg-3">
              <img class="bc-gal-img" src="{{.Site.BaseURL}}/imgs/bc-gallery/vitamin-water.png" width="100%" height="auto">
            </div>
            <div class="bc-gal-img-col col-lg-3">
              <img class="bc-gal-img" src="{{.Site.BaseURL}}/imgs/bc-gallery/Tanqueray.png" width="100%" height="auto">
            </div>
            <div class="bc-gal-img-col col-lg-3">
              <img class="bc-gal-img" src="{{.Site.BaseURL}}/imgs/bc-gallery/finebrandy.png" width="100%" height="auto">
            </div>
          </div>

          <div class="row">
            <div class="bc-gal-img-col col-lg-3">
              <img class="bc-gal-img" src="{{.Site.BaseURL}}/imgs/bc-gallery/mainstay.png" width="100%" height="auto">
            </div>
            <div class="bc-gal-img-col col-lg-3">
              <img class="bc-gal-img" src="{{.Site.BaseURL}}/imgs/bc-gallery/hautecabriere.png" width="100%" height="auto">
            </div>
            <div class="bc-gal-img-col col-lg-3">
              <img class="bc-gal-img" src="{{.Site.BaseURL}}/imgs/bc-gallery/stripedhorse.png" width="100%" height="auto">
            </div>
            <div class="bc-gal-img-col col-lg-3">
              <img class="bc-gal-img" src="{{.Site.BaseURL}}/imgs/bc-gallery/miller.png" width="100%" height="auto">
            </div>
          </div>


          <div class="row">
            <div class="bc-gal-img-col col-lg-3">
              <img class="bc-gal-img" src="{{.Site.BaseURL}}/imgs/bc-belaire-longest.jpg" width="100%" height="auto">
            </div>
            <div class="bc-gal-img-col col-lg-3">
              <img class="bc-gal-img" src="{{.Site.BaseURL}}/imgs/bc-belaire-longest.jpg" width="100%" height="auto">
            </div>
            <div class="bc-gal-img-col col-lg-3">
              <img class="bc-gal-img" src="{{.Site.BaseURL}}/imgs/bc-gallery/bos.png" width="100%" height="auto">
            </div>
            <div class="bc-gal-img-col col-lg-3">
              <img class="bc-gal-img" src="{{.Site.BaseURL}}/imgs/bc-gallery/twelve-apostals.jpg" width="100%" height="auto">
            </div>
          </div>



        </div>
      </div>

      <div class="row bc-t3">
          <div class="col-lg-4 bc-t3-titles" style="background-color: #FFC900;"><h3>FLEXABLE</h3></div>
          <div class="col-lg-4 bc-t3-titles" style="background-color: #E89824;"><h3>ADAPTABLE</h3></div>
          <div class="col-lg-4 bc-t3-titles" style="background-color: #9E5921;"><h3>UNIQUE</h3></div>
      </div>

      <div class="row bc-cc-banner">
        <div class="col-lg-8">
                <h2>MODULAR POPUP COUNTERS</h2>
        </div>
        <div class="col-lg-4 bc-center">
                <img class="bc-cc-icon" src="{{.Site.BaseURL}}/imgs/BC-CounterCulture-sml.png" height="100vh" width="auto">
        </div>
      </div>

<!--  BLOCK 2 END  --------------------------------------------------------------------------------------------------------->

<!-- BLOCK 3 START  --------------------------------------------------------------------------------------------------------->

      <div class="row bc-hero-ntb">
        <div class=" col-lg-12 bc-hero-img-col">
          <img class ="bc-hero-img" src="{{.Site.BaseURL}}/imgs/barcode-heros/vidacafe.png" height="auto" width="100%">
        </div>
      </div>

      <div class="row bc-cc-banner">
        <div class="col-lg-8">
                  <img class="bc-cc-icon" src="{{.Site.BaseURL}}/imgs/section-3-vida-e-caffe/bc-vida.png" height="100vh" width="auto">
        </div>
        <div class="col-lg-4">
                <img class="bc-cc-icon" src="{{.Site.BaseURL}}/imgs/BC-CounterCulture-sml.png" height="100vh" width="auto">
        </div>
      </div>

<!--  BLOCK 3 END  --------------------------------------------------------------------------------------------------------->

<!-- BLOCK 4 START  --------------------------------------------------------------------------------------------------------->

      <hr />

      <div class="row bc-hero-mod-title">
        <div class=" col-lg-12 bc-title-small">
          <h3 class="h3-color">POP UP SHOPS - RETAIL MODULAR SHOPFITTING</h3>
        </div>
      </div>

      <div class="row bc-hero-mod">
        <div class="bc-hero-mod-cols col-lg-4">
          <img class="bc-cc-mod-imgs" src="{{.Site.BaseURL}}/imgs/mobile.png" width="100%" height="auto">
          <div class="bc-t3-titles" style="background-color: #FF6D23;"><h3>MOBILE</h3></div>
        </div>
        <div class="bc-hero-mod-cols col-lg-4">
          <img class="bc-cc-mod-imgs"src="{{.Site.BaseURL}}/imgs/modular.png" width="100%" height="auto">
          <div class="bc-t3-titles" style="background-color: #EE1D25;"><h3>MODULAR</h3></div>
        </div>
        <div class="bc-hero-mod-cols col-lg-4">
          <img class="bc-cc-mod-imgs" src="{{.Site.BaseURL}}/imgs/multipurpose.png" width="100%" height="auto">
          <div class="bc-t3-titles" style="background-color: #AB0104;"><h3>MULTI-PURPOSE</h3></div>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="bc-mod-build-left col-lg-4">
          <h4>BUILD YOUR OWN COUNTER</h4>
        </div>
        <div class="bc-mod-build-centre col-lg-2">
          <h1 class="bc-connecter">+</h1>
        </div>
        <div class="bc-mod-build-right col-lg-4">
          <h4>1.CHOOSE YOUR COUNTER <br />2.LIGHTING AND BRANDING OPTIONS<br />3.CHOOSE YOUR WORKSTATION</h4>
        </div>
        <div class="col-lg-1">
        </div>
      </div>

      <div class="row bc-cc-banner">
        <div class="bc-foot-text col-lg-10">
                <h5>Pop Up Shops / modular layout options | Custom units | Additional accessories | Programmable lighting effects</h5>
        </div>
        <div class="col-lg-2 bc-center">
                <img class="bc-cc-icon" src="{{.Site.BaseURL}}/imgs/Barcode-logo-grey.png" height="100vh" width="auto">
        </div>
      </div>

<!--  BLOCK 4 END  --------------------------------------------------------------------------------------------------------->

<!-- BLOCK 5 START  1. CHOOSE YOUR COUNTER --------------------------------------------------------------------------------------------------------->

      <hr />

      <div class="row bc-hero-mod-title">
        <div class=" col-lg-12 bc-title-small">
          <h3 class="h3-color">1. CHOOSE YOUR COUNTER</h3>
          <h5>Base unit ( i.e. no lightings including powdercoating of standard colours )</h5>
        </div>
      </div>

      <div class="row bc-hero-mod">
        <div class="bc-hero-counter-cols col-lg-4">
          <h5>VERSA</h5>
          <h6>Recessed counter<br />(Straight front)</h6>
          <div class="bc-counter-imgs-background"  style="background-color: #BD4270;">
          <img class="bc-cc-counter-imgs"  src="{{.Site.BaseURL}}/imgs/Counters/versa.png" width="auto" height="300px">
         </div>
          <h3>R11 000</h3>
        </div>
        <div class="bc-hero-counter-cols col-lg-4">
          <h5>CIRCULAR</h5>
          <h6>1/8 curves with recess counter<br />(Curved unit 2 x for a 90 ̊ corner)</h6>
          <div class="bc-counter-imgs-background"  style="background-color: #FE7E31;" >
          <img class="bc-cc-counter-imgs" src="{{.Site.BaseURL}}/imgs/Counters/circular.png" width="auto" height="300px">
          </div>
          <h3>R12 000</h3>
        </div>
        <div class="bc-hero-counter-cols col-lg-4">
          <h5>VERTICAL</h5>
          <h6>Vertical display with counter</h6>
          <div class="bc-counter-imgs-background"  style="background-color: #FFC900;">
          <img class="bc-cc-counter-imgs"  src="{{.Site.BaseURL}}/imgs/Counters/vertical.png" width="auto" height="300px">
          </div>
          <h3>R12 500</h3>
        </div>
      </div>


      <div class="row bc-center">
        <div class="col-lg-8">
          <h4 class="bc-text-align">Pantone matching Duco paint will need to be done by clients suppliers, Reduce cost by R1500 to supply raw aluminum profile.<br>Tailored powdercoat match - Powder to be supplied by client.<br>Carry Bags additional cost</h4>
        </div>
      </div>

      <div class="row bc-cc-banner">
        <div class="bc-foot-text col-lg-10">
                <h5>Pop Up Shops / modular layout options | Custom units | Additional accessories | Programmable lighting effects</h5>
        </div>
        <div class="col-lg-2 bc-center">
                <img class="bc-cc-icon" src="{{.Site.BaseURL}}/imgs/Barcode-logo-grey.png" height="100vh" width="auto">
        </div>
      </div>

<!--  BLOCK 5 END  --------------------------------------------------------------------------------------------------------->

<!--  BLOCK 6 START : 2. LIGHTING AND BRANDING OPTIONS --------------------------------------------------------------------------------------------------------->

      <hr />
      <div class="row bc-hero-mod-title">
        <div class=" col-lg-12 bc-title-small">
          <h3 class="h3-color">2. LIGHTING AND BRANDING OPTIONS</h3>
        </div>
      </div>


      <div class="row bc-hero-mod s6">
        <div class="bc-hero-counter-cols col-lg-4">
          <div class="bc-counter-imgs-background"  style="background-color: #BD4270;">
          <img class="bc-cc-counter-imgs"  src="{{.Site.BaseURL}}/imgs/section-6-lighting-and-brand-options/bc-illy.png" width="auto" height="300px">
         </div>
        </div>
        <div class="bc-hero-counter-cols col-lg-4">
          <div class="bc-counter-imgs-background"  style="background-color: #FE7E31;" >
          <img class="bc-cc-counter-imgs" src="{{.Site.BaseURL}}/imgs/section-6-lighting-and-brand-options/bc-protea.png" width="auto" height="300px">
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-3 par-bc-lb-block">
          <div class="bc-lb-block bs-6-c1 bc-center">
          <img class="bc-cc-counter-imgs s6" src="{{.Site.BaseURL}}/imgs/section-6-lighting-and-brand-options/bc-downlighting.png" width="auto" height="200px">
        </div>
                <h5 class="s6-p-center">Downlighting lighting <br> (+ R 1200)</h5>
        </div>
        <div class="col-lg-3 par-bc-lb-block">
          <div class="bc-lb-block bs-6-c2 bc-center">
          <img class="bc-cc-counter-imgs s6" src="{{.Site.BaseURL}}/imgs/section-6-lighting-and-brand-options/bc-striplighting.png" width="auto" height="200px">
        </div>
                <h5 class="s6-p-center">Strip lighting <br> (+ R 2000)</h5>
        </div>
        <div class="col-lg-3 par-bc-lb-block">
          <div class="bc-lb-block bs-6-c3 bc-center">
          <img class="bc-cc-counter-imgs s6" src="{{.Site.BaseURL}}/imgs/section-6-lighting-and-brand-options/bc-brandlighting.png" width="auto" height="200px">
        </div>
                <h5 class="s6-p-center">Branding lighting <br> (+ R 3500)</h5>
        </div>
        <div class="col-lg-3 par-bc-lb-block">
          <div class="bc-lb-block bs-6-c4 bc-center">
          <img class="bc-cc-counter-imgs s6" src="{{.Site.BaseURL}}/imgs/section-6-lighting-and-brand-options/bc-stripandbrandinglighting.png" width="auto" height="200px">
        </div>
                <h5 class="s6-p-center">Strip & Branding lighting <br> (+ R 5500)</h5>
        </div>
      </div>

      <div class="row bc-cc-banner">
        <div class="bc-foot-text col-lg-10">
          <h5></h5>
        </div>
        <div class="col-lg-2 bc-center">
                <img class="bc-cc-icon" src="{{.Site.BaseURL}}/imgs/Barcode-logo-grey.png" height="100vh" width="auto">
        </div>
      </div>

<!--  BLOCK 6 END  --------------------------------------------------------------------------------------------------------->
<!--  BLOCK 7 START  --------------------------------------------------------------------------------------------------------->

      <hr />
      <div class="row bc-hero-mod-title">
        <div class=" col-lg-12 bc-title-small">
          <h3 class="h3-color">3. CHOOSE YOUR WORKSTATION</h3>
        </div>
      </div>


      <div class="row bc-hero-mod s6">
        <div class="bc-hero-counter-cols col-lg-3">
          <div class="bc-counter-imgs-background-s7">
          <!-- <img class="bc-cc-counter-imgs"  src="{{.Site.BaseURL}}/imgs/Counters/versa.png" width="auto" height="300px"> -->
         </div>
          <h3></h3>
        </div>
        <div class="bc-hero-counter-cols col-lg-3" style="border-right:solid 0.5px grey;">
          <div class="bc-counter-imgs-background-s7"  style="background-color: #BD4270;">
          <img class="bc-cc-counter-imgs"  src="{{.Site.BaseURL}}/imgs/section-7-choose-your-workstation/bc-flat-work.png" width="auto" height="200px">
         </div>
          <h5>Flat Workstation included in Base Cost (reinforced for 80kg coffee machine)</h5>
        </div>
        <div class="bc-hero-counter-cols col-lg-3" style="border-right:solid 0.5px grey;">
          <div class="bc-counter-imgs-background-s7"  style="background-color: #FE7E31;" >
          <img class="bc-cc-counter-imgs" src="{{.Site.BaseURL}}/imgs/section-7-choose-your-workstation/bc-flat-work-gas.png" width="auto" height="200px">
          </div>
          <h5>Custom Laser Cut-out<br>on Flat Workstation<br>(+ R 1000)</h5>
        </div>
        <div class="bc-hero-counter-cols col-lg-3">
          <div class="bc-counter-imgs-background-s7"  style="background-color: #FFC900;">
          <img class="bc-cc-counter-imgs"  src="{{.Site.BaseURL}}/imgs/section-7-choose-your-workstation/bc-flat-work-flowers.png" width="auto" height="200px">
          </div>
          <h5>Custom Laser Cut-out<br>on Flat Workstation<br>(+ R 1000)</h5>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-3 par-bc-lb-block">
          <div class="bc-lb-block bs-6-c1 bc-center" style="background-color:#9BBF78;">
          <img class="bc-cc-counter-imgs s6" src="{{.Site.BaseURL}}/imgs/section-7-choose-your-workstation/bc-bar-work.png" width="auto" height="200px">
        </div>
                <h5 class="s6-p-center">Bar Profile Workstation<br>(+ R 1500)</h5>
        </div>
        <div class="col-lg-3 par-bc-lb-block">
          <div class="bc-lb-block bs-6-c2 bc-center" style="background-color:#58BDAC;">
          <img class="bc-cc-counter-imgs s6" src="{{.Site.BaseURL}}/imgs/section-7-choose-your-workstation/bc-dual-work.png" width="auto" height="200px">
        </div>
                <h5 class="s6-p-center">Dual Flat/Coffee Workstation<br>(+ R 2500)</h5>
        </div>
        <div class="col-lg-3 par-bc-lb-block">
          <div class="bc-lb-block bs-6-c3 bc-center" style="background-color:#7A814C;">
          <img class="bc-cc-counter-imgs s6" src="{{.Site.BaseURL}}/imgs/section-7-choose-your-workstation/bc-bar-flat-work.png" width="auto" height="200px">
        </div>
                <h5 class="s6-p-center">Bar Profile with Flat Workstation<br>(+ R 3500)</h5>
        </div>
        <div class="col-lg-3 par-bc-lb-block">
          <!-- <div class="bc-lb-block bs-6-c4">
          <img class="bc-cc-counter-imgs s6" src="{{.Site.BaseURL}}/imgs/section-6-lighting-and-brand-options/bc-stripandbrandinglighting.png" width="auto" height="200px">
        </div> -->
                <h5 class="s6-p-center"></h5>
        </div>
      </div>

      <div class="row bc-cc-banner">
        <div class="bc-foot-text col-lg-10">
          <h5></h5>
        </div>
        <div class="col-lg-2 bc-center">
                <img class="bc-cc-icon" src="{{.Site.BaseURL}}/imgs/Barcode-logo-grey.png" height="100vh" width="auto">
        </div>
      </div>

<!--  BLOCK 7 END  --------------------------------------------------------------------------------------------------------->
<!--- BLOCK 8 START  --------------------------------------------------------------------------------------------------------->

<hr />
<div class="row bc-hero-mod-title">
  <div class=" col-lg-12 bc-title-small">
    <h3 class="h3-color">2. LIGHTING AND BRANDING OPTIONS</h3>
  </div>
</div>


      <div class="row">
        <div class=" col-lg-12 bc-hero-gal-col">

          <div class="row">
            <div class="bc-gal-img-col col-lg-4">
              <img class="bc-gal-img" src="{{.Site.BaseURL}}/imgs/section-8-pop-up-shops/bc-display-cut.png" width="100%" height="auto">
            </div>
            <div class="bc-gal-img-col col-counter col-lg-4">
              <div class="bc-counter-imgs-background-s7"  style="background-color: #BD4270;">
              <img class="bc-cc-counter-imgs"  src="{{.Site.BaseURL}}/imgs/Counters/versa.png" width="100%" height="auto">
            </div>
            </div>
            <div class="bc-gal-img-col col-lg-4">
              <img class="bc-gal-img" src="{{.Site.BaseURL}}/imgs/section-8-pop-up-shops/bc-full-spec-display.png" width="100%" height="auto">
            </div>
          </div>


          <div class="row">
            <div class="bc-gal-img-col col-lg-4">
              <img class="bc-gal-img" src="{{.Site.BaseURL}}/imgs/section-8-pop-up-shops/bc-curve.png" width="100%" height="auto">
            </div>
            <div class="bc-gal-img-col col-counter col-lg-4">
              <div class="bc-counter-imgs-background-s7"  style="background-color: #FE7E31;" >
              <img class="bc-cc-counter-imgs" src="{{.Site.BaseURL}}/imgs/Counters/circular.png" width="auto" height="300px">
              </div>
            </div>
            <div class="bc-gal-img-col col-lg-4">
              <img class="bc-gal-img" src="{{.Site.BaseURL}}/imgs/section-8-pop-up-shops/bc-cicular-cut.png" width="100%" height="auto">
            </div>
          </div>



        </div>
      </div>


      <div class="row bc-cc-banner">
        <div class="col-lg-8">
                <h2>MODULAR POPUP COUNTERS</h2>
        </div>
        <div class="col-lg-4 bc-center">
                <img class="bc-cc-icon" src="{{.Site.BaseURL}}/imgs/BC-CounterCulture-sml.png" height="100vh" width="auto">
        </div>
      </div>

<!--  BLOCK 8 END  --------------------------------------------------------------------------------------------------------->



<!-- BLOCK 9 START  --------------------------------------------------------------------------------------------------------->

<hr />
<div class="row bc-hero-mod-title">
  <div class=" col-lg-12 bc-title-small">
    <h3 class="h3-color">5. CUSTOM UNITS</h3>
  </div>
</div>


      <div class="row bc-hero">
        <div class=" col-lg-12 bc-hero-img-col">
          <img class ="bc-hero-img" src="{{.Site.BaseURL}}/imgs/section-9-custom-units/bc-custom-units.png" height="auto" width="100%">
        </div>
      </div>

      <div class="row bc-hero-mod s6 s9">
        <div class="bc-hero-counter-cols col-lg-4">
          <div class="bc-counter-imgs-background"  style="background-color: #FFC900;">
          <img class="bc-cc-counter-imgs"  src="{{.Site.BaseURL}}/imgs/section-9-custom-units/bc-custom-scar.png" width="auto" height="300px">
         </div>
        </div>
        <div class="bc-hero-counter-cols col-lg-4 s9">
          <div class="bc-counter-imgs-background"  style="background-color: #1AA8C5;" >
          <img class="bc-cc-counter-imgs" src="{{.Site.BaseURL}}/imgs/section-9-custom-units/bc-custom-vw.png" width="auto" height="300px">
          </div>
        </div>
      </div>



      <div class="row bc-cc-banner">
        <div class="col-lg-8">
                <h2>MODULAR POPUP COUNTERS</h2>
        </div>
        <div class="col-lg-4 bc-center">
                <img class="bc-cc-icon" src="{{.Site.BaseURL}}/imgs/BC-CounterCulture-sml.png" height="100vh" width="auto">
        </div>
      </div>

<!--  BLOCK 9 END  --------------------------------------------------------------------------------------------------------->

<!--  BLOCK 10 START  --------------------------------------------------------------------------------------------------------->

      <hr />
      <div class="row bc-hero-mod-title">
        <div class=" col-lg-12 bc-title-small">
          <h3 class="h3-color">6. ADDITIONAL ACCESSORIES</h3>
        </div>
      </div>


      <div class="row bc-hero-mod s6">
        <div class="bc-hero-counter-cols col-lg-3" style="border-right:solid 0.5px grey;">
          <div class="bc-counter-imgs-background-s7"  style="background-color: #BD4270;">
          <img class="bc-cc-counter-imgs"  src="{{.Site.BaseURL}}/imgs/section-10-additional-accessories/bc-add-counters.png" width="auto" height="200px">
         </div>
          <h5>Flat Workstation included in Base Cost (reinforced for 80kg coffee machine)</h5>
        </div>
        <div class="bc-hero-counter-cols col-lg-3" style="border-right:solid 0.5px grey;">
          <div class="bc-counter-imgs-background-s7"  style="background-color: #1AA8C5;" >
          <img class="bc-cc-counter-imgs" src="{{.Site.BaseURL}}/imgs/section-10-additional-accessories/bc-branding-change.png" width="auto" height="200px">
          </div>
          <h5>Custom Laser Cut-out<br>on Flat Workstation<br>(+ R 1000)</h5>
        </div>
        <div class="bc-hero-counter-cols col-lg-3">
          <div class="bc-counter-imgs-background-s7"  style="background-color: #FFC900;">
          <img class="bc-cc-counter-imgs"  src="{{.Site.BaseURL}}/imgs/section-10-additional-accessories/bc-padded-cover.png" width="auto" height="200px">
          </div>
          <h5>Custom Laser Cut-out<br>on Flat Workstation<br>(+ R 1000)</h5>
        </div>
        <div class="bc-hero-counter-cols col-lg-3">
          <div class="bc-counter-imgs-background-s7">
          <!-- <img class="bc-cc-counter-imgs"  src="{{.Site.BaseURL}}/imgs/Counters/versa.png" width="auto" height="300px"> -->
         </div>
          <h3></h3>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-3 par-bc-lb-block">
          <div class="bc-lb-block bs-6-c1 bc-center" style="background-color:#FFC900;">
          <img class="bc-cc-counter-imgs s6" src="{{.Site.BaseURL}}/imgs/section-10-additional-accessories/bc-fold-1.png" width="auto" height="200px">
        </div>
                <h5 class="s6-p-center">Step 1</h5>
        </div>
        <div class="col-lg-3 par-bc-lb-block">
          <div class="bc-lb-block bs-6-c2 bc-center" style="background-color:#FE7E31;">
          <img class="bc-cc-counter-imgs s6" src="{{.Site.BaseURL}}/imgs/section-10-additional-accessories/bc-fold-2.png" width="auto" height="200px">
        </div>
                <h5 class="s6-p-center">Step 2</h5>
        </div>
        <div class="col-lg-3 par-bc-lb-block">
          <div class="bc-lb-block bs-6-c3 bc-center" style="background-color:#DF5868;">
          <img class="bc-cc-counter-imgs s6" src="{{.Site.BaseURL}}/imgs/section-10-additional-accessories/bc-fold-3.png" width="auto" height="200px">
        </div>
                <h5 class="s6-p-center">Step 3</h5>
        </div>
        <div class="col-lg-3 par-bc-lb-block">
          <div class="bc-lb-block bs-6-c4 bc-center" style="background-color:#954F4E;">
          <img class="bc-cc-counter-imgs s6" src="{{.Site.BaseURL}}/imgs/section-10-additional-accessories/bc-fold-4.png" width="auto" height="200px">
        </div>
                <h5 class="s6-p-center">Step 4</h5>
        </div>
      </div>

      <div class="row bc-cc-banner">
        <div class="bc-foot-text col-lg-10">
          <h5></h5>
        </div>
        <div class="col-lg-2 bc-center">
                <img class="bc-cc-icon" src="{{.Site.BaseURL}}/imgs/Barcode-logo-grey.png" height="100vh" width="auto">
        </div>
      </div>

<!--  BLOCK 10 END  --------------------------------------------------------------------------------------------------------->
<!-- BLOCK 11 START  --------------------------------------------------------------------------------------------------------->
<hr />
<div class="row bc-hero-mod-title">
  <div class=" col-lg-12 bc-title-small">
    <h3 class="h3-color">7. PROGRAMMABLE LIGHTING EFFECTS</h3>
  </div>
</div>


      <div class="row bc-hero">
        <div class=" col-lg-12 bc-hero-img-col">
          <img class ="bc-hero-img" src="{{.Site.BaseURL}}/imgs/section-11-programmable-lighting-effects/bc-bar-lighting.png" height="auto" width="100%">
        </div>
      </div>

      <div class="row bc-hero-mod s6 s9">
        <div class="bc-hero-counter-cols col-lg-4">
          <div class="bc-counter-imgs-background"  style="background-color: #FFC900;">
          <img class="bc-cc-counter-imgs"  src="{{.Site.BaseURL}}/imgs/section-9-custom-units/bc-custom-scar.png" width="auto" height="300px">
         </div>
        </div>
        <div class="bc-hero-counter-cols col-lg-4 s9">
          <div class="bc-counter-imgs-background"  style="background-color: #1AA8C5;" >
          <img class="bc-cc-counter-imgs" src="{{.Site.BaseURL}}/imgs/section-11-programmable-lighting-effects/bc-led-remote.png" width="auto" height="300px">
          </div>
        </div>
      </div>



      <div class="row bc-cc-banner">
        <div class="col-lg-8">
                <h2>MODULAR POPUP COUNTERS</h2>
        </div>
        <div class="col-lg-4 bc-center">
                <img class="bc-cc-icon" src="{{.Site.BaseURL}}/imgs/BC-CounterCulture-sml.png" height="100vh" width="auto">
        </div>
      </div>

<!--  BLOCK 11 END  --------------------------------------------------------------------------------------------------------->

<!-- BLOCK 12 START HAUTECABRIERE  --------------------------------------------------------------------------------------------------------->


      <div class="row bc-hero-ntb">
        <div class=" col-lg-12 bc-hero-img-col">
          <img class ="bc-hero-img" src="{{.Site.BaseURL}}/imgs/section-12-hc/bc-hc.png" height="auto" width="100%">
        </div>
      </div>

      <div class="row bc-cc-banner">
        <div class="col-lg-8">
                  <img class="bc-cc-icon" src="{{.Site.BaseURL}}/imgs/section-12-hc/hc-logo.png" height="100vh" width="auto">
        </div>
        <div class="col-lg-4 bc-center">
                <img class="bc-cc-icon" src="{{.Site.BaseURL}}/imgs/BC-CounterCulture-sml.png" height="100vh" width="auto">
        </div>
      </div>

<!--  BLOCK 12 END  --------------------------------------------------------------------------------------------------------->
<!-- BLOCK 13 KOPPERBERG  --------------------------------------------------------------------------------------------------------->


      <div class="row bc-hero-ntb">
        <div class=" col-lg-12 bc-hero-img-col">
          <img class ="bc-hero-img" src="{{.Site.BaseURL}}/imgs/section-13-kopperberg/Kopperberg.png" height="auto" width="100%">
        </div>
      </div>

      <div class="row bc-cc-banner">
        <div class="col-lg-8">
                  <img class="bc-cc-icon" src="{{.Site.BaseURL}}/imgs/section-13-kopperberg/kopperberg-logo.png" height="100vh" width="auto">
        </div>
        <div class="col-lg-4 bc-center">
                <img class="bc-cc-icon" src="{{.Site.BaseURL}}/imgs/BC-CounterCulture-sml.png" height="100vh" width="auto">
        </div>
      </div>

<!--  BLOCK 13 END  --------------------------------------------------------------------------------------------------------->

<!-- BLOCK 14 START  --------------------------------------------------------------------------------------------------------->
      <div class="row bc-t3">
          <div class="col-lg-4 bc-t3-titles" style="background-color: #DC6E7D;"><h3></h3></div>
          <div class="col-lg-4 bc-t3-titles" style="background-color: #B63D79;"><h3>CONTACT US</h3></div>
          <div class="col-lg-4 bc-t3-titles" style="background-color: #5D499E;"><h3></h3></div>

      </div>

      <div class="row bc-hero-contact">
    <div class="col-lg-12 bc-contact">
		<form action="https://formspree.io/clyde@barcodebars.com" method="POST">
			<div class="row justify-content-md-center">

				<div class="col-12 col-lg-4 col-md-4 rounded text-dark p-5" style="font-size: 18px">

					<div class="mb-3">
						<div class="text-uppercase text-muted">
							Address
						</div>
						<div>Somewhere in Durban, South Africa</div>
					</div>


					<div class="mb-3">
						<div class="text-uppercase text-muted">Email</div>
						<div>Clyde@barcodebars.com</div>
					 </div>


				</div>
				<div class="col-12 col-lg-6 col-md-6">
						<div class="row">
							<div class="col-12 col-lg-6 col-md-6">
								<div class="form-group">
									<label>Name</label>
									<input type="text" name="Name" class="form-control" placeholder="Name">
								</div>
							</div>
							<div class="col-12 col-lg-6 col-md-6">
								<div class="form-group">
									<label>Email</label>
									<input type="email" name="Email" class="form-control" placeholder="Email">
								</div>
							</div>

							<div class="col-lg-12">
								<div class="form-group">
									<label>Message</label>
									<textarea placeholder="Message" name="Message" rows="5" class="form-control"></textarea>
								</div>
							</div>

							<div class="col-lg-12">
									<button type="submit" class="btn btn-primary">Submit</button>
							</div>

						</div>
					</div>
			</div>
		</form>

	</div>
      </div>

      <div class="row bc-cc-banner">
        <div class="col-lg-8">
                <h2>MODULAR POPUP COUNTERS</h2>
        </div>
        <div class="col-lg-4 bc-center">
                <img class="bc-cc-icon" src="{{.Site.BaseURL}}/imgs/BC-CounterCulture-sml.png" height="100vh" width="auto">
        </div>
      </div>

<!--  BLOCK 14 END  --------------------------------------------------------------------------------------------------------->




    </div>


    <!-- {{ end }}

    {{ block "footer" . }}
      {{ partial "footer" . }}
    {{ end }} -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- For Gallery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.js"></script>

  </body>
</html>
